#main-container{
    width: 800px;
    margin: 0 auto;
}

.boton{
    border: none;
    font-size: 15px;
    background-color: rgb(77, 0, 255);
    color: white;
    padding: 5px;
    width: 15%;
    box-sizing: border-box;
    margin-left: -30%;
    margin-top: 1%;
}
.boton:hover{
    background-color: rgb(51, 1, 126);
}

@media screen and (max-width: 800px){
    #main-container{
        width: 100%;
    }
    .boton{
        margin-left: 6%;
        width: 25%;
        margin-bottom: 3%;
    }
    
}

